@inherits ZBarComponent

<div class="zBarCamera" style="@GetContainerDisplay()">
    <video @ref="Video" playsinline style="@GetVideoDisplay()" />
    <canvas @ref="Canvas" style="@GetCanvasDisplay()" />
</div>