<div class="zBarCamera">
    <video @ref="Video" width="@Width" height="@Height" />
    <canvas @ref="Canvas" width="@Width" height="@Height" />
    <button @onclick="StartVideoFeed">Start</button>
    <button @onclick="EndVideoFeed">Stop</button>
</div>