::deep .zBarCamera {
    width: 100%;
    height: calc(100% - 335px);
}

h5 {
    margin: 0;
}

.form-select {
    max-width: 400px;
}

.description {
    font-weight: bold;
}

.sideBySide {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.section {
    display: flex;
    gap: 8px;
}

.section.foundBarcodes {
    display: flex;
    flex-direction: column;
    max-width: 535px;
}

.barcodes {
    border: 1px solid black;
    min-width: 300px;
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}

.barcode {
    padding: 4px;
}

.barcode:not(:last-child) {
    border-bottom: 1px solid gray;
}

.barcode .type {
    font-weight: bold;
}

.barcodes .none {
    text-align: center;
    font-style: italic;
    color: gray;
}

.radioSelection {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

#ScanInterval {
    width: 205px;
}

#ScanIntervalMarkers {
    display: block;
    position: relative;
    width: 205px;
    font-size: 10px;
}

#ScanIntervalMarkers option {
    position: absolute;
}