.tools {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 8px 0;
}

.description {
    font-weight: bold;
}

.section {
    display: flex;
    gap: 8px;
}

.cameraViewSelection {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.form-select {
    max-width: 400px;
}

::deep .zBarCamera {
    width: 100%;
    height: calc(100% - 100px);
}