.tools {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 8px 0;
}

.description {
    font-weight: bold;
}

.section {
    display: flex;
    gap: 8px;
}

.form-select {
    width: 300px;
}